In [1]:
import pandas
import os

# This query represents dataset "PD_cases_NOV_01_2024" for domain "person" and was generated for All of Us Registered Tier Dataset v8
dataset_51794942_person_sql = """
    SELECT
        person.person_id,
        person.gender_concept_id,
        p_gender_concept.concept_name as gender,
        person.birth_datetime as date_of_birth,
        person.race_concept_id,
        p_race_concept.concept_name as race,
        person.ethnicity_concept_id,
        p_ethnicity_concept.concept_name as ethnicity,
        person.sex_at_birth_concept_id,
        p_sex_at_birth_concept.concept_name as sex_at_birth 
    FROM
        `""" + os.environ["WORKSPACE_CDR"] + """.person` person 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_gender_concept 
            ON person.gender_concept_id = p_gender_concept.concept_id 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_race_concept 
            ON person.race_concept_id = p_race_concept.concept_id 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_ethnicity_concept 
            ON person.ethnicity_concept_id = p_ethnicity_concept.concept_id 
    LEFT JOIN
        `""" + os.environ["WORKSPACE_CDR"] + """.concept` p_sex_at_birth_concept 
            ON person.sex_at_birth_concept_id = p_sex_at_birth_concept.concept_id  
    WHERE
        person.PERSON_ID IN (SELECT
            distinct person_id  
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
        WHERE
            cb_search_person.person_id IN (SELECT
                criteria.person_id 
            FROM
                (SELECT
                    DISTINCT person_id, entry_date, concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                WHERE
                    (concept_id IN(SELECT
                        DISTINCT c.concept_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                    JOIN
                        (SELECT
                            CAST(cr.id as string) AS id       
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                        WHERE
                            concept_id IN (381270)       
                            AND full_text LIKE '%_rank1]%'      ) a 
                            ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                            OR c.path LIKE CONCAT('%.', a.id) 
                            OR c.path LIKE CONCAT(a.id, '.%') 
                            OR c.path = a.id) 
                    WHERE
                        is_standard = 1 
                        AND is_selectable = 1) 
                    AND is_standard = 1 )) criteria ) 
            AND cb_search_person.person_id IN (SELECT
                person_id 
            FROM
                `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
            WHERE
                has_ehr_data = 1 ) 
            AND cb_search_person.person_id IN (SELECT
                person_id 
            FROM
                `""" + os.environ["WORKSPACE_CDR"] + """.person` p 
            WHERE
                race_concept_id IN (8527) ) 
            AND cb_search_person.person_id NOT IN (SELECT
                criteria.person_id 
            FROM
                (SELECT
                    DISTINCT person_id, entry_date, concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                WHERE
                    (concept_id IN (4043378) 
                    AND is_standard = 1 )) criteria 
            UNION
            DISTINCT SELECT
                criteria.person_id 
            FROM
                (SELECT
                    DISTINCT person_id, entry_date, concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                WHERE
                    (concept_id IN(SELECT
                        DISTINCT c.concept_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                    JOIN
                        (SELECT
                            CAST(cr.id as string) AS id       
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                        WHERE
                            concept_id IN (443605)       
                            AND full_text LIKE '%_rank1]%'      ) a 
                            ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                            OR c.path LIKE CONCAT('%.', a.id) 
                            OR c.path LIKE CONCAT(a.id, '.%') 
                            OR c.path = a.id) 
                    WHERE
                        is_standard = 1 
                        AND is_selectable = 1) 
                    AND is_standard = 1 )) criteria 
            UNION
            DISTINCT SELECT
                criteria.person_id 
            FROM
                (SELECT
                    DISTINCT person_id, entry_date, concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                WHERE
                    (concept_id IN(SELECT
                        DISTINCT c.concept_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                    JOIN
                        (SELECT
                            CAST(cr.id as string) AS id       
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                        WHERE
                            concept_id IN (378419)       
                            AND full_text LIKE '%_rank1]%'      ) a 
                            ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                            OR c.path LIKE CONCAT('%.', a.id) 
                            OR c.path LIKE CONCAT(a.id, '.%') 
                            OR c.path = a.id) 
                    WHERE
                        is_standard = 1 
                        AND is_selectable = 1) 
                    AND is_standard = 1 )) criteria 
            UNION
            DISTINCT SELECT
                criteria.person_id 
            FROM
                (SELECT
                    DISTINCT person_id, entry_date, concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                WHERE
                    (concept_id IN (373182) 
                    AND is_standard = 1 )) criteria 
            UNION
            DISTINCT SELECT
                criteria.person_id 
            FROM
                (SELECT
                    DISTINCT person_id, entry_date, concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                WHERE
                    (concept_id IN (40391011) 
                    AND is_standard = 1 )) criteria 
            UNION
            DISTINCT SELECT
                criteria.person_id 
            FROM
                (SELECT
                    DISTINCT person_id, entry_date, concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                WHERE
                    (concept_id IN (4044053) 
                    AND is_standard = 1 )) criteria ) )"""

dataset_51794942_person_df = pandas.read_gbq(
    dataset_51794942_person_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

dataset_51794942_person_df.head(5)

Downloading:   0%|          | 0/1735 [00:00<?, ?rows/s]

,person_id,gender_concept_id,gender,date_of_birth,race_concept_id,race,ethnicity_concept_id,ethnicity,sex_at_birth_concept_id,sex_at_birth
0,1027857,45878463,Female,1942-06-15 00:00:00+00:00,8527,White,38003564,Not Hispanic or Latino,1177221,I prefer not to answer
1,2343884,45878463,Female,1947-06-15 00:00:00+00:00,8527,White,38003564,Not Hispanic or Latino,0,No matching concept
2,1922045,45878463,Female,1950-06-15 00:00:00+00:00,8527,White,38003564,Not Hispanic or Latino,0,No matching concept
3,1109518,903096,PMI: Skip,1965-06-15 00:00:00+00:00,8527,White,38003564,Not Hispanic or Latino,903096,PMI: Skip
4,2402880,903096,PMI: Skip,1943-06-15 00:00:00+00:00,8527,White,38003564,Not Hispanic or Latino,903096,PMI: Skip

In [2]:
#rename df
df1 = dataset_51794942_person_df

In [3]:
# Check sex at birth
df1.sex_at_birth.value_counts()

sex_at_birth
Male                      1023
Female                     690
PMI: Skip                   19
No matching concept          2
I prefer not to answer       1
Name: count, dtype: int64

In [4]:
# Only select individuals who are male or female and are listed as white to match UKB data
sex_list = ['Male', 'Female']
df1 = df1[['person_id', 'date_of_birth', 'race', 'sex_at_birth']]
df1 = df1[df1['race']=='White']
df1 = df1[df1['sex_at_birth'].isin(sex_list)]
df1[['date_of_birth', 'extra']] = df1.date_of_birth.astype(str).str.split(' ', expand = True)
df1 = df1.drop(columns = ['extra'])
df1

      person_id date_of_birth   race sex_at_birth
22      2800229    1957-06-15  White         Male
23      2428380    1948-06-15  White         Male
24      2419497    1956-06-15  White         Male
25      5526267    1960-06-15  White         Male
26      1592737    1943-06-15  White         Male
...         ...           ...    ...          ...
1730    9191683    1956-06-15  White       Female
1731    2785719    1958-06-15  White       Female
1732    1937606    1959-06-15  White       Female
1733    2007632    1961-06-15  White       Female
1734    5356045    1979-06-15  White       Female

[1713 rows x 4 columns]

In [5]:
import pandas
import os

# This query represents dataset "PD_cases_NOV_01_2024" for domain "condition" and was generated for All of Us Registered Tier Dataset v8
dataset_51794942_condition_sql = """
    SELECT
        c_occurrence.person_id,
        c_occurrence.condition_concept_id,
        c_standard_concept.concept_name as standard_concept_name,
        c_standard_concept.concept_code as standard_concept_code,
        c_standard_concept.vocabulary_id as standard_vocabulary,
        c_occurrence.condition_start_datetime,
        c_occurrence.condition_end_datetime,
        c_occurrence.condition_type_concept_id,
        c_type.concept_name as condition_type_concept_name,
        c_occurrence.stop_reason,
        c_occurrence.visit_occurrence_id,
        visit.concept_name as visit_occurrence_concept_name,
        c_occurrence.condition_source_value,
        c_occurrence.condition_source_concept_id,
        c_source_concept.concept_name as source_concept_name,
        c_source_concept.concept_code as source_concept_code,
        c_source_concept.vocabulary_id as source_vocabulary,
        c_occurrence.condition_status_source_value,
        c_occurrence.condition_status_concept_id,
        c_status.concept_name as condition_status_concept_name 
    FROM
        ( SELECT
            * 
        FROM
            `""" + os.environ["WORKSPACE_CDR"] + """.condition_occurrence` c_occurrence 
        WHERE
            (
                condition_concept_id IN (SELECT
                    DISTINCT c.concept_id 
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                JOIN
                    (SELECT
                        CAST(cr.id as string) AS id       
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                    WHERE
                        concept_id IN (381270)       
                        AND full_text LIKE '%_rank1]%'      ) a 
                        ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                        OR c.path LIKE CONCAT('%.', a.id) 
                        OR c.path LIKE CONCAT(a.id, '.%') 
                        OR c.path = a.id) 
                WHERE
                    is_standard = 1 
                    AND is_selectable = 1)
            )  
            AND (
                c_occurrence.PERSON_ID IN (SELECT
                    distinct person_id  
                FROM
                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` cb_search_person  
                WHERE
                    cb_search_person.person_id IN (SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (381270)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 1 
                                AND is_selectable = 1) 
                            AND is_standard = 1 )) criteria ) 
                    AND cb_search_person.person_id IN (SELECT
                        person_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_person` p 
                    WHERE
                        has_ehr_data = 1 ) 
                    AND cb_search_person.person_id IN (SELECT
                        person_id 
                    FROM
                        `""" + os.environ["WORKSPACE_CDR"] + """.person` p 
                    WHERE
                        race_concept_id IN (8527) ) 
                    AND cb_search_person.person_id NOT IN (SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN (4043378) 
                            AND is_standard = 1 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (443605)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 1 
                                AND is_selectable = 1) 
                            AND is_standard = 1 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN(SELECT
                                DISTINCT c.concept_id 
                            FROM
                                `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` c 
                            JOIN
                                (SELECT
                                    CAST(cr.id as string) AS id       
                                FROM
                                    `""" + os.environ["WORKSPACE_CDR"] + """.cb_criteria` cr       
                                WHERE
                                    concept_id IN (378419)       
                                    AND full_text LIKE '%_rank1]%'      ) a 
                                    ON (c.path LIKE CONCAT('%.', a.id, '.%') 
                                    OR c.path LIKE CONCAT('%.', a.id) 
                                    OR c.path LIKE CONCAT(a.id, '.%') 
                                    OR c.path = a.id) 
                            WHERE
                                is_standard = 1 
                                AND is_selectable = 1) 
                            AND is_standard = 1 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN (373182) 
                            AND is_standard = 1 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN (40391011) 
                            AND is_standard = 1 )) criteria 
                    UNION
                    DISTINCT SELECT
                        criteria.person_id 
                    FROM
                        (SELECT
                            DISTINCT person_id, entry_date, concept_id 
                        FROM
                            `""" + os.environ["WORKSPACE_CDR"] + """.cb_search_all_events` 
                        WHERE
                            (concept_id IN (4044053) 
                            AND is_standard = 1 )) criteria ) )
                )
            ) c_occurrence 
        LEFT JOIN
            `""" + os.environ["WORKSPACE_CDR"] + """.concept` c_standard_concept 
                ON c_occurrence.condition_concept_id = c_standard_concept.concept_id 
        LEFT JOIN
            `""" + os.environ["WORKSPACE_CDR"] + """.concept` c_type 
                ON c_occurrence.condition_type_concept_id = c_type.concept_id 
        LEFT JOIN
            `""" + os.environ["WORKSPACE_CDR"] + """.visit_occurrence` v 
                ON c_occurrence.visit_occurrence_id = v.visit_occurrence_id 
        LEFT JOIN
            `""" + os.environ["WORKSPACE_CDR"] + """.concept` visit 
                ON v.visit_concept_id = visit.concept_id 
        LEFT JOIN
            `""" + os.environ["WORKSPACE_CDR"] + """.concept` c_source_concept 
                ON c_occurrence.condition_source_concept_id = c_source_concept.concept_id 
        LEFT JOIN
            `""" + os.environ["WORKSPACE_CDR"] + """.concept` c_status 
                ON c_occurrence.condition_status_concept_id = c_status.concept_id"""

dataset_51794942_condition_df = pandas.read_gbq(
    dataset_51794942_condition_sql,
    dialect="standard",
    use_bqstorage_api=("BIGQUERY_STORAGE_API_ENABLED" in os.environ),
    progress_bar_type="tqdm_notebook")

dataset_51794942_condition_df.head(5)

Downloading:   0%|          | 0/51921 [00:00<?, ?rows/s]

,person_id,condition_concept_id,standard_concept_name,standard_concept_code,standard_vocabulary,condition_start_datetime,condition_end_datetime,condition_type_concept_id,condition_type_concept_name,stop_reason,visit_occurrence_id,visit_occurrence_concept_name,condition_source_value,condition_source_concept_id,source_concept_name,source_concept_code,source_vocabulary,condition_status_source_value,condition_status_concept_id,condition_status_concept_name
0,1528409,381270,Parkinson's disease,49049000,SNOMED,2023-03-02 00:00:00+00:00,2023-03-02 00:00:00+00:00,44786627,Primary Condition,None,39000001266244720,Outpatient Visit,None,<NA>,None,None,None,None,<NA>,None
1,2066247,381270,Parkinson's disease,49049000,SNOMED,2023-01-18 00:00:00+00:00,2023-01-18 00:00:00+00:00,44786627,Primary Condition,None,39000001263608800,Outpatient Visit,None,<NA>,None,None,None,None,<NA>,None
2,2506315,381270,Parkinson's disease,49049000,SNOMED,2014-02-14 00:00:00+00:00,2014-02-14 00:00:00+00:00,0,No matching concept,None,34000000005936252,Pharmacy,No matching concept,0,No matching concept,No matching concept,None,None,<NA>,None
3,1220265,381270,Parkinson's disease,49049000,SNOMED,2014-05-30 06:00:00+00:00,NaT,32821,EHR billing record,None,47000000019978928,Observation Room,332.0,44819574,Paralysis agitans,332.0,ICD9CM,None,<NA>,None
4,3493267,381270,Parkinson's disease,49049000,SNOMED,2011-06-27 00:00:00+00:00,NaT,44786629,Secondary Condition,None,10000000001495568,Office Visit,332.0,44819574,Paralysis agitans,332.0,ICD9CM,None,<NA>,None

In [6]:
# rename df
df2 = dataset_51794942_condition_df

In [7]:
# Look at standard_concept_names
df2.standard_concept_name.value_counts(dropna = False)

standard_concept_name
Parkinson's disease              51920
Young onset Parkinson disease        1
Name: count, dtype: int64

In [8]:
# remove early onset PD
df2 = df2[df2['standard_concept_name']!= 'Young onset Parkinson disease']
df2 = df2[['person_id', 'standard_concept_name', 'condition_start_datetime']]
df2 = df2.sort_values(by = 'condition_start_datetime')
df2

       person_id standard_concept_name  condition_start_datetime
19579    9223279   Parkinson's disease 1982-12-11 06:00:00+00:00
26260    1296096   Parkinson's disease 1994-03-25 00:00:00+00:00
22468    1296096   Parkinson's disease 1994-03-25 00:00:00+00:00
15590    2190220   Parkinson's disease 1995-09-14 00:00:00+00:00
3002     2190220   Parkinson's disease 1995-12-21 00:00:00+00:00
...          ...                   ...                       ...
24913    1578984   Parkinson's disease 2023-09-29 13:09:00+00:00
45995    3387155   Parkinson's disease 2023-09-29 14:00:00+00:00
18043    9696993   Parkinson's disease 2023-09-30 00:00:00+00:00
11919    9696993   Parkinson's disease 2023-09-30 00:00:00+00:00
29724    5162877   Parkinson's disease 2023-10-01 11:55:20+00:00

[51920 rows x 3 columns]

In [9]:
# drop duplicates
df2 = df2.drop_duplicates(subset='person_id', keep ='first')
df2

       person_id standard_concept_name  condition_start_datetime
19579    9223279   Parkinson's disease 1982-12-11 06:00:00+00:00
26260    1296096   Parkinson's disease 1994-03-25 00:00:00+00:00
15590    2190220   Parkinson's disease 1995-09-14 00:00:00+00:00
21609    6047847   Parkinson's disease 1996-11-07 00:00:00+00:00
20829    3132323   Parkinson's disease 1997-04-29 06:00:00+00:00
...          ...                   ...                       ...
39698    9030116   Parkinson's disease 2023-09-12 00:00:00+00:00
39307    9176625   Parkinson's disease 2023-09-12 11:37:00+00:00
22969    1541102   Parkinson's disease 2023-09-18 00:00:00+00:00
40588    9542727   Parkinson's disease 2023-09-20 00:00:00+00:00
19770    4284167   Parkinson's disease 2023-09-25 00:00:00+00:00

[1735 rows x 3 columns]

In [10]:
#split datetime
df2[['PD_date', 'extra']] = df2.condition_start_datetime.astype(str).str.split(' ', expand = True)
df2 = df2[['person_id', 'standard_concept_name', 'PD_date']]
df2

/tmp/ipykernel_1581/59728850.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[['PD_date', 'extra']] = df2.condition_start_datetime.astype(str).str.split(' ', expand = True)
/tmp/ipykernel_1581/59728850.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2[['PD_date', 'extra']] = df2.condition_start_datetime.astype(str).str.split(' ', expand = True)

       person_id standard_concept_name     PD_date
19579    9223279   Parkinson's disease  1982-12-11
26260    1296096   Parkinson's disease  1994-03-25
15590    2190220   Parkinson's disease  1995-09-14
21609    6047847   Parkinson's disease  1996-11-07
20829    3132323   Parkinson's disease  1997-04-29
...          ...                   ...         ...
39698    9030116   Parkinson's disease  2023-09-12
39307    9176625   Parkinson's disease  2023-09-12
22969    1541102   Parkinson's disease  2023-09-18
40588    9542727   Parkinson's disease  2023-09-20
19770    4284167   Parkinson's disease  2023-09-25

[1735 rows x 3 columns]

In [11]:
# merge dataframes
df = df1.merge(df2, left_on = 'person_id', right_on = 'person_id', how = 'left')
df = df.sort_values(by = 'PD_date')
df

,person_id,date_of_birth,race,sex_at_birth,standard_concept_name,PD_date
1272,9223279,1965-06-15,White,Female,Parkinson's disease,1982-12-11
1326,1296096,1963-06-15,White,Female,Parkinson's disease,1994-03-25
308,2190220,1947-06-15,White,Male,Parkinson's disease,1995-09-14
654,6047847,1952-06-15,White,Male,Parkinson's disease,1996-11-07
1532,3132323,1940-06-15,White,Female,Parkinson's disease,1997-04-29
...,...,...,...,...,...,...
541,9030116,1955-06-15,White,Male,Parkinson's disease,2023-09-12
120,9176625,1938-06-15,White,Male,Parkinson's disease,2023-09-12
1655,1541102,1949-06-15,White,Female,Parkinson's disease,2023-09-18
1481,9542727,1970-06-15,White,Female,Parkinson's disease,2023-09-20
367,4284167,1940-06-15,White,Male,Parkinson's disease,2023-09-25

In [12]:
# Double check concept names
df.standard_concept_name.value_counts(dropna = False)

standard_concept_name
Parkinson's disease    1713
Name: count, dtype: int64

In [13]:
# Drop anyone without a date for their PD diagnosis
df = df[~df['PD_date'].isna()]
df

,person_id,date_of_birth,race,sex_at_birth,standard_concept_name,PD_date
1272,9223279,1965-06-15,White,Female,Parkinson's disease,1982-12-11
1326,1296096,1963-06-15,White,Female,Parkinson's disease,1994-03-25
308,2190220,1947-06-15,White,Male,Parkinson's disease,1995-09-14
654,6047847,1952-06-15,White,Male,Parkinson's disease,1996-11-07
1532,3132323,1940-06-15,White,Female,Parkinson's disease,1997-04-29
...,...,...,...,...,...,...
541,9030116,1955-06-15,White,Male,Parkinson's disease,2023-09-12
120,9176625,1938-06-15,White,Male,Parkinson's disease,2023-09-12
1655,1541102,1949-06-15,White,Female,Parkinson's disease,2023-09-18
1481,9542727,1970-06-15,White,Female,Parkinson's disease,2023-09-20
367,4284167,1940-06-15,White,Male,Parkinson's disease,2023-09-25

In [14]:
# Save file
df.to_csv('PD_cases_n1713.csv', header = True, index = False)

In [15]:
import os
import subprocess
import numpy as np
import pandas as pd

In [16]:
# This snippet assumes you run setup first

# This code saves your dataframe into a csv file in a "data" folder in Google Bucket

# Replace df with THE NAME OF YOUR DATAFRAME
my_dataframe = df   

# Replace 'test.csv' with THE NAME of the file you're going to store in the bucket (don't delete the quotation marks)
destination_filename = 'PD_cases_n1713.csv'

########################################################################
##
################# DON'T CHANGE FROM HERE ###############################
##
########################################################################

# save dataframe in a csv file in the same workspace as the notebook
my_dataframe.to_csv(destination_filename, index=False)

# get the bucket name
my_bucket = os.getenv('WORKSPACE_BUCKET')

# copy csv file to the bucket
args = ["gsutil", "cp", f"./{destination_filename}", f"{my_bucket}/data/"]
output = subprocess.run(args, capture_output=True)

# print output from gsutil
output.stderr

b'Copying file://./PD_cases_n1713.csv [Content-Type=text/csv]...\n/ [0 files][    0.0 B/103.5 KiB]                                                \r/ [1 files][103.5 KiB/103.5 KiB]                                                \r\nOperation completed over 1 objects/103.5 KiB.                                    \n'

In [21]:
# This snippet assumes that you run setup first

# This code lists objects in your Google Bucket

# Get the bucket name
my_bucket = os.getenv('WORKSPACE_BUCKET')

# List objects in the bucket
print(subprocess.check_output(f"gsutil ls -r {my_bucket}", shell=True).decode('utf-8'))

gs://fc-secure-e4bcff7f-a715-4434-8db4-3afa775a8ffc/data/:
gs://fc-secure-e4bcff7f-a715-4434-8db4-3afa775a8ffc/data/AD_cases_n666.csv
gs://fc-secure-e4bcff7f-a715-4434-8db4-3afa775a8ffc/data/DEM_cases_n2825.csv
gs://fc-secure-e4bcff7f-a715-4434-8db4-3afa775a8ffc/data/PD_cases_n1713.csv

gs://fc-secure-e4bcff7f-a715-4434-8db4-3afa775a8ffc/notebooks/:
gs://fc-secure-e4bcff7f-a715-4434-8db4-3afa775a8ffc/notebooks/01_AD_cases_JAN_17_2025.ipynb
gs://fc-secure-e4bcff7f-a715-4434-8db4-3afa775a8ffc/notebooks/01_DEM_cases_JAN_17_2025.ipynb
gs://fc-secure-e4bcff7f-a715-4434-8db4-3afa775a8ffc/notebooks/01_PD_cases_JAN_17_2025.ipynb